{{ define "main" }}
  <div class="container py-3">
    {{ with .Content }}
      <div class="mb-4">
        {{ . }}
      </div>
    {{ end }}
    {{ $bucket := .Params.bucket }}
    {{ $pages := slice }}
    {{ with site.GetPage "library" }}
      {{ range .Pages }}
        {{ if and (eq .Params.bucket $bucket) (in (slice "page" "section") .Kind) }}
          {{ $pages = $pages | append . }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ partial "featured-pages" (dict "context" . "pages" $pages) }}
  </div>
{{ end }}
