{{ define "main" }}


<section class="section bd-masthead">
  <div class="container-xxl">
    <div class="col-md-8 mx-auto text-center my-5">
      
      <h1 class="display-4 fw-semibold mb-3"><img  src="{{ `images/logo.svg` | relURL }}" width="80" height="90" alt="logo"> {{ .Site.Params.shorttitle }}</h1>
      <p class="lead mb-4">{{ partial (printf "slogan/index.%s.html" .Site.Language.Lang) . }}</p>

      <div class="mb-4 shadow-lg">
        {{ partial "carousel" (dict "folder" "screenshots") }}
      </div>
      {{ partial (printf "download-button/index.%s.html" .Site.Language.Lang) . }}
    </div>
  </div>
</section>

<section class="section container my-3">
  {{ partial (printf "features/index.%s.html" .Site.Language.Lang) . }}
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Community Feedback</h3>
  {{ partial "community-feedback/carousel.html" . }}

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
    <div class="col">
      <a href="https://www.producthunt.com/products/bitcoin-safe-desktop-wallet-foss" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/follow.svg?product_id=1205455&theme=light" alt="Bitcoin&#0045;Safe&#0032;Desktop&#0032;Wallet&#0032;&#0040;FOSS&#0041; - Free&#0032;&#0038;&#0032;OpenSource&#0032;software&#0032;for&#0032;managing&#0032;cold&#0032;storage&#0032;wallets | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
    </div>
    <div class="col">
      <a href="https://www.nxgntools.com/tools/bitcoin-safe-foss-desktop-wallet" target="_blank" rel="noopener" style="display: inline-block; width: auto;">
    <img src="https://www.nxgntools.com/api/embed/bitcoin-safe-foss-desktop-wallet?type=FIND_US_ON&hideUpvotes=true" alt="Find Us on NextGen Tools" style="height: 48px; width: auto;" />
      </a>
    </div>
  </div>
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Plugins</h3>
  {{ partial "featured-pages" (dict "context" . "tags" .Site.Taxonomies.tags.plugins "row_class" "justify-content-center") }}
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Supported hardware signers</h3>
  {{ partial "hardware-signer/scroll-row.html" . }}
</section>

<!-- <section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Latest Posts</h3>
  {{ partial "latest-posts" . }}
</section> -->

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Discover Bitcoin Safe</h3>
  {{ partial "featured-pages" (dict "context" . "tags" .Site.Taxonomies.tags.featured "row_class" "justify-content-center") }}
</section>
{{ end }}
