<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">सुरक्षित </h2>
        <p>BDK द्वारा संचालित<br>
            हार्डवेयर साइनर <i>आवश्यक</i>, सर्वोत्तम प्रथाओं को सुनिश्चित करता है
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">आधुनिक</h2>
        <p>मेमपूल और धन प्रवाह आरेखों के लिए शक्तिशाली तालिकाओं को आधुनिक विज़ुअलाइज़ेशन के साथ जोड़ता है। <a href="{{ "/features/" | relLangURL }}">पूर्ण सुविधाएँ</a> तुरंत उपयोग के लिए तैयार   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">सिंक & चैट </h2>
        <p>
            लेबल का बैकअप और समक्रमण। मल्टी-पार्टी-मल्टीसिग में अन्य साइनरों के साथ <a href="{{ "/library/collaboration" | relLangURL }}">सहयोग करें</a>
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">आसान </h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">कदम-दर-कदम</a> निर्देश एक सुरक्षित SingleSig या MultiSig सेटअप के लिए, <a href="{{ "/library/pdf-export/" | relLangURL }}">PDF बैकअप शीट्स</a> के साथ     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">संगत </h2>
        <p>
            निम्नलिखित के लिए पूर्ण समर्थन: {{ partial "hardware-signer/inline-list.html" . }}.
            QR, USB, या SD-कार्ड के माध्यम से सभी प्रमुख हार्डवेयर वॉलेट्स का समर्थन।
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">बहु-भाषी</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">अपनी भाषा चुनें</a>: 🇺🇸 अंग्रेज़ी, 🇨🇳 चीनी - 简体中文, 🇪🇸 स्पेनिश - español de España, 🇯🇵 जापानी - 日本語, 🇷🇺 रूसी - русский, 🇵🇹 पुर्तगाली - português europeu, 🇮🇳 हिन्दी - हिन्दी, अरबी - العربية, 🇮🇹 इतालवी - italiano, 🇫🇷 फ़्रेंच - Français, 🇩🇪 जर्मन - Deutsch, 🇲🇲 बर्मी - မြန်မာ, 🇰🇷 कोरियाई - 한국어, 🇹🇭 थाई - ภาษาไทย, 🇮🇷 फ़ारसी (Farsi) - فارسی, 🇵🇱 पोलिश - Polski, 🇪🇸 Catalan - Català, 🇺🇦 यूक्रेनी - Українська</p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">ओपन सोर्स</h2>
        <p>हम ❤ ओपन-सोर्स: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> है <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>