<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">安全</h2>
        <p>Powered by <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            ハードウェア署名機が<i>必須</i>で、ベストプラクティスを保証します
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">モダン</h2>
        <p>メンプールと資金フロー図向けのモダンな可視化と強力なテーブルを組み合わせています。<a href="{{ "/features/" | relLangURL }}">フル機能</a>がすぐに使えます   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">同期とチャット</h2>
        <p>
            ラベルのバックアップと同期。<a href="{{ "/library/collaboration" | relLangURL }}">共同作業</a>でマルチパーティ・マルチシグの他の署名者と連携できます
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">簡単</h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">ステップバイステップ</a>の手順 — セキュアなシングルシグまたはマルチシグのセットアップ用、<a href="{{ "/library/pdf-export/" | relLangURL }}">PDFバックアップシート</a>付き     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">対応</h2>
        <p>
            Full support for {{ partial "hardware-signer/inline-list.html" . }}.
            QR、USB、またはSDカードを使用する主要なハードウェアウォレットをすべてサポートします。
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">多言語対応</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">言語を選択</a>: 🇺🇸 英語, 🇨🇳 中国語（簡体字）, 🇪🇸 スペイン語（español de España）, 🇯🇵 日本語, 🇷🇺 ロシア語（русский）, 🇵🇹 ポルトガル語（português europeu）, 🇮🇳 ヒンディー語（हिन्दी）, アラビア語（العربية）, 🇮🇹 イタリア語（italiano）, 🇫🇷 フランス語（Français）, 🇩🇪 ドイツ語（Deutsch）, 🇲🇲 ビルマ語（မြန်မာ）, 🇰🇷 韓国語（한국어）, 🇹🇭 タイ語（ภาษาไทย）, 🇮🇷 ペルシア語（فارسی）, 🇵🇱 ポーランド語（Polski）, 🇪🇸 カタロニア語（Català）, 🇺🇦 ウクライナ語（Українська）</p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">オープンソース</h2>
        <p>オープンソースを愛しています: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> は <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>