<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Безопасно </h2>
        <p>Работает на <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Требуется аппаратный подписант <i>обязательно</i>, что обеспечивает соблюдение лучших практик
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Современный</h2>
        <p>Сочетает мощные таблицы с современными визуализациями для мемпула и диаграмм движения средств. <a href="{{ "/features/" | relLangURL }}">Полнофункционально</a> из коробки   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin-Safe Sync & Chat logo">
        <h2 class="h2">Синхронизация и чат </h2>
        <p>
            Резервное копирование и синхронизация меток. <a href="{{ "/library/collaboration" | relLangURL }}">Сотрудничайте</a> с другими подписантами в многосторонней мультиподписи
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Просто </h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">Пошаговая инструкция</a> для безопасной настройки SingleSig или MultiSig с <a href="{{ "/library/pdf-export/" | relLangURL }}">PDF-листами для резервного копирования</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Совместимо </h2>
        <p>
            Full support for {{ partial "hardware-signer/inline-list.html" . }}.
            Поддерживает все основные аппаратные кошельки через QR, USB или SD-карту.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Многоязычность</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">Выберите свой язык</a>: 🇺🇸 Английский, 🇨🇳 Китайский - 简体中文, 🇪🇸 Испанский - español de España, 🇯🇵 Японский - 日本語, 🇷🇺 Русский - русский, 🇵🇹 Португальский - português europeu, 🇮🇳 Хинди - हिन्दी, Арабский - العربية, 🇮🇹 Итальянский - italiano, 🇫🇷 Французский - Français, 🇩🇪 Немецкий - Deutsch, 🇲🇲 Бирманский - မြန်မာ, 🇰🇷 Корейский - 한국어, 🇹🇭 Тайский - ภาษาไทย, 🇮🇷 Персидский (фарси) - فارسی, 🇵🇱 Польский - Polski, 🇪🇸 Каталанский - Català, 🇺🇦 Украинский - Українська</p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Открытый исходный код</h2>
        <p>Мы ❤ открытый исходный код: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin-Safe</a> распространяется по <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">лицензии GPL3</a></p> 
    </div> 
</div>