<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Aman </h2>
        <p>Didukung oleh <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Penandatangan perangkat keras <i>diperlukan</i> yang memastikan praktik terbaik
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Modern</h2>
        <p>Menggabungkan tabel yang kuat dengan visualisasi modern untuk mempool dan diagram aliran uang. <a href="{{ "/features/" | relLangURL }}">Fitur lengkap</a> langsung siap pakai   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">Sinkron & Obrolan </h2>
        <p>
            Pencadangan dan sinkronisasi label. <a href="{{ "/library/collaboration" | relLangURL }}">Berkolaborasi</a> dengan penandatangan lain dalam multisig multi-pihak
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Mudah </h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">Panduan Langkah demi Langkah</a> untuk pengaturan SingleSig atau MultiSig yang aman dengan <a href="{{ "/library/pdf-export/" | relLangURL }}">lembar cadangan PDF</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Kompatibel </h2>
        <p>
            Full support for {{ partial "hardware-signer/inline-list.html" . }}.
            Mendukung semua dompet perangkat keras utama menggunakan QR, USB, atau kartu SD.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Multi-Bahasa</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">Gunakan bahasa Anda</a>: 🇺🇸 Inggris, 🇨🇳 Cina - 简体中文, 🇪🇸 Spanyol - español de España, 🇯🇵 Jepang - 日本語, 🇷🇺 Rusia - русский, 🇵🇹 Portugis - português europeu, 🇮🇳 Hindi - हिन्दी, Arab - العربية, 🇮🇹 Italia - italiano, 🇫🇷 Prancis - Français, 🇩🇪 Jerman - Deutsch, 🇲🇲 Bahasa Burma - မြန်မာ, 🇰🇷 Korea - 한국어, 🇹🇭 Thai - ภาษาไทย, 🇮🇷 Persia (Farsi) - فارسی, 🇵🇱 Polandia - Polski, 🇪🇸 Katalan - Català, 🇺🇦 Bahasa Ukraina - Українська</p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Sumber Terbuka</h2>
        <p>Kami ❤ sumber terbuka: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> berlisensi <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>