<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Sicuro </h2>
        <p>Basato su <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Richiede un dispositivo di firma hardware <i>obbligatorio</i>, garantendo le migliori pratiche
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Moderno</h2>
        <p>Combina potenti tabelle con visualizzazioni moderne per il mempool e i diagrammi del flusso di denaro. <a href="{{ "/features/" | relLangURL }}">Pronto all'uso</a>   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">Sincronizzazione e Chat </h2>
        <p>
            Backup e sincronizzazione delle etichette. <a href="{{ "/library/collaboration" | relLangURL }}">Collabora</a> con altri firmatari in una multisig a più partecipanti
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Facile </h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">Guida passo-passo</a> per una configurazione SingleSig o MultiSig sicura con <a href="{{ "/library/pdf-export/" | relLangURL }}">fogli di backup PDF</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Compatibile </h2>
        <p>
            Supporto completo per {{ partial "hardware-signer/inline-list.html" . }}.
            Supporta tutti i principali hardware wallet tramite QR, USB o scheda SD.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Multilingue</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">Usa la tua lingua</a>: 🇺🇸 Inglese, 🇨🇳 Cinese - 简体中文, 🇪🇸 Spagnolo - español de España, 🇯🇵 Giapponese - 日本語, 🇷🇺 Russo - русский, 🇵🇹 Portoghese - português europeo, 🇮🇳 Hindi - हिन्दी, Arabo - العربية, 🇮🇹 Italiano - italiano, 🇫🇷 Francese - Français, 🇩🇪 Tedesco - Deutsch, 🇲🇲 Birmano - မြန်မာ, 🇰🇷 Coreano - 한국어, 🇹🇭 Thailandese - ภาษาไทย, 🇮🇷 Persiano (Farsi) - فارسی, 🇵🇱 Polacco - Polski, 🇪🇸 Catalano - Català, 🇺🇦 Ucraino - Українська</p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Open source</h2>
        <p>Amiamo il codice open source: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> è rilasciato sotto <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>