<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Seguro </h2>
        <p>Desenvolvido com <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Assinador de hardware <i>obrigatório</i> garantindo as melhores práticas
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Moderno</h2>
        <p>Combinando tabelas poderosas com visualizações modernas para o mempool e diagramas de fluxo de dinheiro. <a href="{{ "/features/" | relLangURL }}">Com todas as funcionalidades</a> pronto a usar   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin-Safe Sync & Chat logo">
        <h2 class="h2">Sincronização e Chat </h2>
        <p>
            Cópia de segurança e sincronização das etiquetas. <a href="{{ "/library/collaboration" | relLangURL }}">Colabore</a> com outros signatários numa carteira multisig multipartes
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Fácil </h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">Passo a passo</a> instruções para uma configuração segura SingleSig ou MultiSig com <a href="{{ "/library/pdf-export/" | relLangURL }}">folhas de backup em PDF</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Compatível </h2>
        <p>
            Full support for {{ partial "hardware-signer/inline-list.html" . }}.
            Suporte para todas as principais carteiras de hardware através de QR, USB ou cartão SD.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Multilingue</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">Use o seu idioma</a>: 🇺🇸 Inglês, 🇨🇳 Chinês - 简体中文, 🇪🇸 Espanhol - español de España, 🇯🇵 Japonês - 日本語, 🇷🇺 Russo - русский, 🇵🇹 Português - português europeu, 🇮🇳 Hindi - हिन्दी, Arabic - العربية, 🇮🇹 Italiano - italiano, 🇫🇷 Francês - Français, 🇩🇪 Alemão - Deutsch, 🇲🇲 birmanês - မြန်မာ, 🇰🇷 Coreano - 한국어, 🇹🇭 Tailandês - ภาษาไทย, 🇮🇷 Persa (Farsi) - فارسی, 🇵🇱 Polaco - Polski, 🇪🇸 Catalão - Català, 🇺🇦 Ucraniano - Українська</p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Código aberto</h2>
        <p>Adoramos código aberto: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin-Safe</a> é <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>