<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">보안</h2>
        <p>BDK로 구동됩니다. <br>
            하드웨어 서명기 <i>필수</i> — 모범 사례 보장
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="자금 흐름 다이어그램">
        <h2 class="h2">모던</h2>
        <p>강력한 테이블과 메모풀 및 자금 흐름 다이어그램을 위한 최신 시각화를 결합합니다. <a href="{{ "/features/" | relLangURL }}">설치 즉시 모든 기능</a>을 사용할 수 있습니다   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe 동기화 및 채팅 로고">
        <h2 class="h2">동기화 및 채팅</h2>
        <p>
            라벨의 백업 및 동기화. 다자 멀티시그 환경에서 다른 서명자와 <a href="{{ "/library/collaboration" | relLangURL }}">협업</a>하세요
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="체크 표시">
        <h2 class="h2">간편</h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">단계별</a> 안내 — 안전한 SingleSig 또는 MultiSig 설정과 <a href="{{ "/library/pdf-export/" | relLangURL }}">PDF 백업 시트</a> 제공     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB 로고">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR 로고">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD 카드 로고" >
        <h2 class="h2">호환 가능</h2>
        {{ partial "hardware-signer/inline-list.html" . }}
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="번역 로고" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">다국어 지원</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">자신의 언어로 사용하세요</a>: 🇺🇸 영어, 🇨🇳 중국어 - 简体中文, 🇪🇸 스페인어 - español de España, 🇯🇵 일본어 - 日本語, 🇷🇺 러시아어 - русский, 🇵🇹 포르투갈어(유럽) - português europeu, 🇮🇳 힌디어 - हिन्दी, 아랍어 - العربية, 🇮🇹 이탈리아어 - italiano, 🇫🇷 프랑스어 - Français, 🇩🇪 독일어 - Deutsch, 🇲🇲 버마어 - မြန်မာ, 🇰🇷 한국어 - 한국어, 🇹🇭 태국어 - ภาษาไทย, 🇮🇷 페르시아어(파르시) - فارسی, 🇵🇱 폴란드어 - Polski, 🇪🇸 카탈루냐어 - Català, 🇺🇦 우크라이나어 - Українська</p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">오픈 소스</h2>
        <p>우리는 오픈 소스를 사랑합니다: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a>는 <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3 라이선스</a>입니다.</p> 
    </div> 
</div>