<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Sicher </h2>
        <p>Angetrieben von <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Hardware-Signer <i>erforderlich</i>, um Best-Practices zu gewährleisten
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Modern</h2>
        <p>Kombiniert leistungsstarke Tabellen mit modernen Visualisierungen für Mempool- und Geldflussdiagramme. <a href="{{ "/features/" | relLangURL }}">Voll funktionsfähig</a> – sofort einsatzbereit   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin-Safe Sync & Chat logo">
        <h2 class="h2">Synchronisation & Chat </h2>
        <p>
            Sicherung und Synchronisierung von Labels. <a href="{{ "/library/collaboration" | relLangURL }}">Zusammenarbeiten</a> mit anderen Signierern in einem Mehrparteien-Multisig
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Einfach </h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">Schritt-für-Schritt</a>-Anleitungen für eine sichere SingleSig- oder MultiSig-Einrichtung mit <a href="{{ "/library/pdf-export/" | relLangURL }}">PDF-Backupblättern</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Kompatibel </h2>
        <p>
            Volle Unterstützung für {{ partial "hardware-signer/inline-list.html" . }}.
            Unterstützt alle gängigen Hardware-Wallets über QR, USB oder SD-Karte.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Mehrsprachig</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">Verwende deine Sprache</a>: {{ partial "flags-short.html" . }} </p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Open Source</h2>
        <p>Wir ❤ Open Source: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin-Safe</a> ist <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>