<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Güvenli </h2>
        <p>Powered by <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Donanım imzalayıcısı <i>gerekir</i>, en iyi uygulamaları sağlar
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Modern</h2>
        <p>Güçlü tabloları mempool ve para akışı diyagramları için modern görselleştirmelerle birleştirir. Kutudan çıktığı gibi <a href="{{ "/features/" | relLangURL }}">tam özellikli</a>   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">Eşitleme ve Sohbet </h2>
        <p>
            Etiketlerin yedeklenmesi ve senkronizasyonu. Çok katılımcılı çoklu imza işlemlerinde diğer imzalayanlarla <a href="{{ "/library/collaboration" | relLangURL }}">işbirliği yapın</a>
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Kolay </h2>
        <p> <a href="{{ "/library/setup-singlesig-wallet/" | relLangURL }}">Adım adım</a> talimatlar, güvenli bir SingleSig veya MultiSig kurulumu için <a href="{{ "/library/pdf-export/" | relLangURL }}">PDF yedekleme sayfaları</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Uyumlu </h2>
        <p>
            Tam destek: {{ partial "hardware-signer/inline-list.html" . }}.
            QR, USB veya SD kart kullanarak tüm önemli donanım cüzdanlarını destekler.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Çok Dilli</h2>
        <p><a href="{{ "/library/multi-language" | relLangURL }}">Dilinizi kullanın</a>: 🇺🇸 İngilizce, 🇨🇳 Çince - 简体中文, 🇪🇸 İspanyolca - español de España, 🇯🇵 Japonca - 日本語, 🇷🇺 Rusça - русский, 🇵🇹 Portekizce - português europeu, 🇮🇳 Hintçe - हिन्दी, Arapça - العربية, 🇮🇹 İtalyanca - italiano, 🇫🇷 Fransızca - Français, 🇩🇪 Almanca - Deutsch, 🇲🇲 Birmanca - မြန်မာ, 🇰🇷 Korece - 한국어, 🇹🇭 Tayca - ภาษาไทย, 🇮🇷 Farsça (Farsi) - فارسی, 🇵🇱 Lehçe - Polski, 🇪🇸 Katalanca - Català, 🇺🇦 Ukraynaca - Українська</p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Açık Kaynak</h2>
        <p>Açık kaynağı seviyoruz ❤: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a>, <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a> lisansı altındadır.</p> 
    </div> 
</div>